.exo1 {
    height: 500px;
    background-color: aquamarine;
}

.exo1-1 {
    background-color: darkslategray;
    border-radius: 7px;
    text-align: start
}

.exo1-1 ul li {
    list-style: circle;
}
/*Exo 4*/

.rtg1-ex4 {
    height: 100px;
    width: 200px;
    background-color: blue;
    border-radius: 7px;
}

.rtg2-ex4 {
    height: 100px;
    width: 200px;
    background-color: blue;
    border-radius: 7px;
}

.box-exo4 {
    height: 50px;
    width: 50px;
    background-color: green;
}