.exo1 {
    height: 500px;
    background-color: aquamarine;
}

.exo1-1 {
    background-color: darkslategray;
    border-radius: 7px;
    text-align: start
}

.exo1-1 ul li {
    list-style: circle;
}

.h2-exo1 {
    background-color: ;
}